<h1>ログイン</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |form |%>
  <p><%= form.label :email, "メール" %></p>
  <%= form.text_field :email%>
  <p><%= form.label :password, "パスワード" %></p>
  <%= form.password_field :password %>
  <p><%= form.submit "ログイン" %></p>
<% end %>