<h1>プロフィール</h1>
<p>プロフィール写真</br>
<%= image_tag(@user.image.url) if @user.image.url %></p>
<p>ユーザーネーム</br>
<%= @user.user_name %></p>
<p>フルネーム</br>
<%= @user.full_name %></p>
<p>メールアドレス</br>
<%= @user.email %></p>

<% if current_user.id == @user.id %>
  <%= link_to "プロフィールを編集", edit_user_path(@user.id)%>
<% end %>